<!-- /mobile/play/index -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>观众-直播间</title>
    <script src="__STATIC__/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="__STATIC__/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css" />
    <link rel="stylesheet" href="__STATIC__/css/play/viewer_room.css">
</head>
<body>
    <div class="wrapper">
        <!-- 直播视频 -->
        <div class="live-wrap">
            <img src="__STATIC__/images/play/00live-bg.png" />
        </div>

        <!-- 直播间内容 -->
        <div class="live-room">

            <div class="topBar">
                <div class="viewer-info">
                    <img class="avatar" src="__STATIC__/images/play/00viewer-avatar.png" />
                    <span class="name">美丽的小猪猪</span>
                </div>
                <div class="liveId">
                    <span class="shop-name">DC商城</span>
                    <span class="id">ID:123456</span>
                </div>
                <div class="closeBtn"></div>
            </div>

            <div class="anchor-part">
                <span class="viewer"><i class="icon"></i>50.1万</span>
                <span class="follow"><i class="icon"></i>9999</span>
            </div>

            <!-- 聊天窗口 -->
            <div class="chat-wrap">
                
                <!-- 礼物 -->
                <div class="showGift-wrap">
                    <div class="gift-item">
                        <span class="gift-icon"><img src="__STATIC__/images/play/gift-icon-1.png" /></span>
                        <span class="gift-count">x2</span>
                        <span class="viewer-name">美丽的小猪猪</span>
                    </div>
                </div>

                <!-- 弹幕滚动 -->
                <div class="barrage-scroll">
                    <ul class="barrage-list">
                        <li class="dm-item">
                            <span class="level level-1"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                        <li class="dm-item">
                            <span class="level level-2"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                        <li class="dm-item">
                            <span class="level level-3"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                        <li class="dm-item">
                            <span class="level level-4"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                        <li class="dm-item">
                            <span class="level level-4"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                        <li class="dm-item">
                            <span class="level level-5"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                        <li class="dm-item">
                            <span class="level level-6"></span>
                            <span class="viewer-name">小猪猪朋友：</span>
                            <span class="barrage-con">你好吗</span>
                        </li>
                    </ul>
                </div>
                
                <!-- 商品链接 -->
                <div class="goods-links">
                    商品链接：<a href="http://zhibo.com/mobile/play/viewer_room">http://zhibo.com/mobile/play/viewer_room</a>
                </div>

                <!-- 发送弹幕 -->
                <div class="chat-operate">
                    <div class="msg-input">
                        <input type="text" placeholder="说点什么...">
                    </div>
                    <div class="send-redPacket"></div>
                    <div class="cart"></div>
                    <div class="share"></div>
                    <div class="gift"></div>
                </div>
                
            </div>

        </div>

        <!-- 遮罩层 -->
        <div class="mask">
            <!-- 红包弹窗 -->
            <div class="popup redPacket-popup">
                <div class="popup-header">
                    <h3>手气红包</h3>
                </div>
                <div class="popup-body">
                    <div class="group-wrap">
                        <span class="label">单个金额</span>
                        <span class="right">
                            <input type="text" placeholder="0.00">
                        元</span>
                    </div>
                </div>
                <div class="popup-footer">
                    <span class="send-btn">发红包</span>
                </div>
                <div class="close-btn"></div>
            </div>
        </div>
   
        <!-- 赠送礼物 -->
        <div class="gift-wrap">
            <div class="thead"><h3>赠送礼物</h3><span class="close"></span></div>
            <div class="tbody">
                <div class="swiper-container gift-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-2.png" /></div>
                            <div class="gift-item"><img src="__STATIC__/images/play/gift-icon-3.png" /></div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>                    

            </div>
            <div class="sendBtn">发送</div>
        </div>

    </div>
    
  

    <script src="__STATIC__/js/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/js/swiper.js"></script>

    <script>
        $(function(){
            //礼物滑动
            var swiper = new Swiper('.gift-container', {
				loop: true,
				pagination: '.swiper-pagination',
				paginationClickable: true,
				autoplayDisableOnInteraction: false
			});

            // 主播发红包
            $('.send-redPacket').click(function(){
                $(".mask,.redPacket-popup").show();
            });

            // 关闭发红包
            $(".close-btn").click(function(){
                $(".mask,.redPacket-popup").hide()
            });

            // 礼物显示
            $(".gift").click(function(){
                $(".gift-wrap").css("visibility","visible");
            })

            $(".gift-wrap .close").click(function(){
                $(".gift-wrap").css("visibility","hidden");
            })

        })
    </script>
</body>
</html>